.login-container,
.signup-container {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-form-forgot {
  float: right;
}

.login-form-button,
.signup-form-button {
  width: 100%;
}
